{% extends 'courses/base.html' %} {% load coursetag %} {% block body %}

  <!-- 
   -->
   
<div class="container">
  <br>
<br>
<div class="row">
      <div class="col mr-auto">
          <div class="card ml-auto" style="width: 18rem;">
            <img class="card-img-top" src="{{selected_course.cthumbnail.url}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{selected_course.cname}}<h5>
                    <span>{% sellprice selected_course.cprice selected_course.cdiscount as val %} {{ val|symbol }}</span>
                </span>

                  </p>
              </div>

          </div>
      </div>



      <div class="col ">
          <div>
              <p class="display-5">{{selected_course.cname}}</p>
              <hr>
              <p class="display-5">Payable Amount : <b>
                  {% sellprice selected_course.cprice selected_course.cdiscount as value %}
                  {% if coupon is None %}
                  {% endif %}
                        {% lastprice value coupon.discount as fvalue %}
                        {{fvalue|symbol}}
                      </b></p>
                      {% csrf_token %}
                      <div>
                          <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                            <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                            </symbol>
                            <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                            </symbol>
                        </svg>
                        {% if coupon %}
                      <div class="alert alert-success d-flex align-items-center" role="alert">
                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                        <div>
                          Coupon code Applied! You Got a {{coupon.discount}}% discount on your order
                        </div>
                        </div>
                        {% endif %}
                        {% if coupon_error_msg  %}
                        <div>
                            <div class="alert alert-danger d-flex align-items-center" role="alert">
                                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                <div>
                                  Invailid! Coupon Code
                                </div>
                              
                    </div>
                    {% endif %}
                        <form method="get">
                                <div class="input-group">
                            <input class="form-control" placeholder="Enter Coupon Code" maxlength="15" name="couponcode">
                            <span class="input-group-btn">
                                &nbsp;
                                <input type="submit" class="btn btn-primary" value="Apply">
                            </form>
                            </span>
                        </div>
                      <br>
              {% if error is not None %}
              <a class="btn btn-light border disabled" href="">Continue to Payment</a>
              {% else %}
              {% if coupon %}
              <a class="btn btn-light border" href="?action=create_payment&couponcode={{coupon.coupon_name}}">Continue to Payment</a>
              {% else %}
              <a class="btn btn-light border" href="?action=create_payment">Continue to Payment</a>
              {% endif %}
              {% endif %}
          </div>
        </div>
    </div>
</div>
<script>
    function showit(){
        document.getElementById("alertmsg").style.visibility = "visible";
    }
</script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
{% if order is not None %}
<script>
var options = {
    "key": "rzp_test_VaHuboa2uUNBiN", // Enter the Key ID generated from the Dashboard
    "amount": "50000", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "PGGEEKS",
    "description": "{{selected_course.cname}}",
    "image": "https://example.com/your_logo",
    "order_id": "{{order.id}}", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "callback_url": "https://127.0.0.1:8000/verify_payment",
    "prefill": {
        "name": "{{user.first_name}}",
        "email": "{{user.email}}",
    },
    "theme": {
        "color": "#3399cc"
    }
};
var rzp1 = new Razorpay(options);

    rzp1.open();
</script>
{% endif %}
{% if error is not None %}
<script>
    
    window.onload = ()=>{
        alert("{{error}}")
    }
    

</script>
    {% endif %}
{% endblock %}
